@model Product
    <h3>@Model.Description </h3>
   
 <table class="table">
        <tr>
            <th>ID</th>
            <th>Price</th>
         

            <th>Description</th>

            <th>Item</th>
            <th>Category ID</th>
            <th>User_ID</th>
        </tr>
       
        
            <tr>
                <td>@Model.ProductID</td>
                <td>@Model.Price</td>
            
                <td>@Model.Description</td>
                <td>@Model.Item</td>
                <td>@Model.CategoryID</td>
                <td>@Model.User_id</td>

            </tr>
        

    </table>




